#contact {
  background-image: linear-gradient(
    135deg,
    $primary-color 0%,
    $secondary-color 100%
  );
  -webkit-clip-path: polygon(0 15vh, 100% 0, 100% 100%, 0 100%);
  clip-path: polygon(0 15vh, 100% 0, 100% 100%, 0 100%);
  padding: 15rem 0 10rem 0;
  margin-top: -10rem;
  margin-bottom: -1px;
  color: $white-color;

  @include respond(tab-land) {
    padding: 10rem 0;
    clip-path: none;
    margin-top: 0;
    -webkit-clip-path: none;
  }

  .contact-wrapper {
    margin-top: 3.2rem;
    padding: 0 2rem;
    backface-visibility: hidden;

    &__text {
      margin-bottom: 2.5rem;
    }

    &__text,
    a {
      font-size: 2.4rem;

    &__text,
    button {
      font-size: 1.6rem;
    }

      // Responsive for contact text
      @include respond(phone) {
        font-size: 2rem;
      }
    }
  }
}

.invalid-feedback {
  color: $dark-blue-text;
  font-weight: bold;
  font-size: 1rem;
}

#form1 {
  margin: 5rem 20rem;
  font-size: 1.6rem;

  @include respond(tab-land) {
    margin: 3rem 8rem;
  }

  @include respond(tab-port) {
    margin: 3rem 10rem;
  }

  @include respond(tab-port-sm) {
    margin: 4rem 6rem;
  }

  @include respond(phone) {
    margin: 3rem 3rem;
  }

  @include respond(phone-xs) {
    margin: 3rem 2rem;
  }
}

input.form-control {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 2rem 3rem;
  font-size: 1.2rem;
}

select.form-control {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 4.3rem;
  padding-left: 3rem;
  font-size: 1.2rem;
}

textarea.form-control {
  max-height: 10rem;
  min-height: 4rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 4.3rem;
  padding-left: 3rem;
  padding-top: 1.2rem;
  font-size: 1.2rem;
}

.label-bottom5 {
  margin-top: 2rem;
}

.label-bottom1, .label-bottom2, .label-bottom3, .label-bottom4, .label-bottom5 {

  @include respond(big-desktop) {
    margin-top: 1.5rem;
  }

  @include respond(tab-land) {
    margin-top: 1.5rem;
  }

  @include respond(tab-port) {
    margin-top: 2.0rem;
  }

  @include respond(phone) {
    margin-top: 2.5rem;
  }

  @include respond(phone-xs) {
    margin-top: 2.5rem;
  }
}
